@using Westwind.Globalization;

@model WATERWebsite.Core.ViewModels.ContactUsViewModels.ContactUsMailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}
<style>
    .error {
        color: red;
        font-style: italic;
    }
</style>
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img6">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @DbRes.T("ContactUs", "Resources", lang)
            </h1>
            <ul class="breadcrumbs-area">
                <li title="Home">
                    <a class="active" href="/">@DbRes.T("Home", "Resources", lang)</a>
                </li>
                <li>@DbRes.T("ContactUs", "Resources", lang)</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Contact Section Start -->
<div class="container">
    <div class="rs-contact contact-style6 pb-120 md-pb-80 mt-5">
        <div class="row no-gutters">
            <div class="row pb-10 mb-5" style="justify-content: center;">
                <div class="col-lg-7">
                    <div class="contact-section">
                        <div class="contact-wrap">
                            <div class="sec-title mb-60">
                                <h2 class="title4 ser-style4">
                                    @DbRes.T("GetInTouch", "Resources", lang)
                                </h2>
                            </div>
                            <form id="contact-form">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" asp-for="ClientName" placeholder="@DbRes.T("YourName", "Resources", lang) *" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" asp-for="EmailFrom" placeholder="@DbRes.T("E-Mail", "Resources", lang) *" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" asp-for="ClientNumber" placeholder="@DbRes.T("PhoneNumber", "Resources", lang) *" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" asp-for="Subject" placeholder="@DbRes.T("Subject", "Resources", lang) *" required="">
                                        </div>
                                        <div class="col-lg-12 mb-30">
                                            <textarea class="from-control" asp-for="body" placeholder="@DbRes.T("YourMessageHere", "Resources", lang) *" required=""></textarea>
                                        </div>
                                        @*<div class="input-group col-lg-12 mb-30">
                                        <input type="file" class="form-control" placeholder="Attach File if You Want" asp-for="Attachments">
                                        <label class="input-group-text" for="Attachments">Upload</label>
                                        </div>*@
                                    </div>
                                    <div class="btn-part">
                                        <div class="form-group mb-0">
                                            <button type="submit" id="OnSubmit" class="send-mail btn btn-primary">
                                                <img src="~/imgs/load.gif" id="load" hidden style="width:4%" />
                                                @DbRes.T("Send", "Resources", lang)
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 info-cards">
                    <div class="col-lg-6 w-100">
                        <div class="contact-box">
                            <div class="contact-icon">
                                <img src="~/imgs/contact/style1/icons/2.png" alt="images">
                            </div>
                            <div class="content-text">
                                <h4 class="title"><a>@DbRes.T("Emails", "Resources", lang)</a></h4>
                                <span><a href="mailto:info@water-consult.net ">info@water-consult.net</a></span><br>
                                <span><a href="mailto:hr@water-consult.net">hr@water-consult.net</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 w-100 mt-5">
                        <div class="contact-box">
                            <div class="contact-icon">
                                <img src="~/imgs/contact/style1/icons/3.png" alt="images">
                            </div>
                            <div class="content-text">
                                <h4 class="title"><a>@DbRes.T("Phones", "Resources", lang)</a></h4>
                                <span><a href="tel:01000327035">01000327035</a></span><br>
                                <span> <a href="tel:01200797973">01200797973</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="sec-title2">
                <span class="sub-text sub-text2" style="font-size:24px;">Office Branches</span>
            </div>
            <div class="row mt-4" style="justify-content: center;">
                <div class="map-pad col-lg-6">
                    <span class="address-text">Cairo</span>
                    <p class="services-txt">
                        7 El Obour Buildings - Salah Salem, Cairo Governorate, Egypt
                    </p>
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.528196917985!2d31.313388900000003!3d30.079055600000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb209c0ace60a2a5f!2zMzDCsDA0JzQ0LjYiTiAzMcKwMTgnNDguMiJF!5e0!3m2!1sen!2seg!4v1674312296848!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="map-pad col-lg-6">
                    <span class="address-text">Zagazig</span>
                    <p class="services-txt">
                        3 El Glaa St - Zagazig, Sharkia Governorate, Egypt
                    </p>
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d6869.606499825619!2d31.502655002655054!3d30.58309912787959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzDCsDM1JzAwLjciTiAzMcKwMzAnMDUuMCJF!5e0!3m2!1sen!2seg!4v1688818858873!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="row mt-4" style="justify-content: center;">
                <div class="map-pad col-lg-6">
                    <span class="address-text">Seeb</span>
                    <p class="services-txt">
                        Al Khoud St - Seeb, Oman
                    </p>
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3656.5084049660377!2d58.145849999999996!3d23.586092999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjPCsDM1JzA5LjkiTiA1OMKwMDgnNDUuMSJF!5e0!3m2!1sen!2seg!4v1688828395084!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="map-pad col-lg-6">
                    <span class="address-text">Barka</span>
                    <p class="services-txt">
                        Al Batinah South - Barka, Oman
                    </p>
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3654.2032338799863!2d57.884454999999996!3d23.668689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjPCsDQwJzA3LjMiTiA1N8KwNTMnMDQuMCJF!5e0!3m2!1sen!2seg!4v1688822947850!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact Section End -->
<!-- jquery latest version -->
<script src="~/assets/js/jquery.min.js"></script>

<script>
    $('#OnSubmit').on('click', function (event) {
        $('#contact-form').validate({ // initialize the plugin
            rules: {
                ClientName: {
                    required: true,
                },
                EmailFrom: {
                    required: true,
                },
                Subject: {
                    required: true,
                },
                body: {
                    required: true,
                },
                ClientNumber: {
                    required: true,
                    number: true,
                }
            },
            messages: {
                ClientName: {
                    required: 'Please Enter Your Name',
                },
                EmailFrom: {
                    required: 'Please Enter Your Email',
                },
                Subject: {
                    required: 'Please Enter Your Subject',
                },
                body: {
                    required: 'Please Enter Your Message',
                },
                ClientNumber: {
                    required: 'Please Enter Your Number',
                }
            },
            submitHandler: function () {

                $('#load').attr("hidden", false);
                $('#OnSubmit').attr("disabled", "disabled");

                $.ajax({
                    type: "Post",
                    data: $("#contact-form").serialize(),
                    url: "/ContactUs/SendMail",
                    success: function (res) {
                        if (res.success) {
                            $('#load').attr("hidden", true);
                            alert("Email has been send Successfully")
                            location.href = "/ContactUs"
                        }
                        else {
                            alert(res.errorMessage)
                            $('#OnSubmit').attr("disabled", false);
                            $('#load').attr("hidden", true);
                        }
                    },
                    error: function (err) {
                        $('#load').attr("hidden", true);
                        alert("Sorry Error in Sending Email")
                        $('#OnSubmit').attr("disabled", false);
                    }
                })
            }

        });
    })

</script>
