@using Westwind.Globalization
@model WATERWebsite.Core.ViewModels.HomeViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lang = "ar";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}
@section Toolbar{
    <div class="toolbar-area topbar-style1 topber-modify2 paste-color-modify1 hidden-md">
        <div class="container">
            <div class="rs-vertical-middle">
                <div class="float-left">
                    <div class="toolbar-contact">
                        <ul class="rs-contact-info">
                            <li>
                                <i class="fi fi-rr-envelope-plus"></i>
                                <a href="mailto:info@water-consult.net">info@water-consult.net</a>
                            </li>
                            <li>
                                <i class="fi fi-rr-phone-call"></i>
                                <a href="tel:01000327035"> 01000327035 </a>
                            </li>
                            <li>
                                <i class="fi-rr-map-marker-home"></i>
                                Salah Salem, Cairo, Egypt
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="toolbar-sl-share">
                        <ul class="clearfix">
                            <li class="opening"> <em><i class="fi fi-rr-time-add"></i> Hours: Sat-Thurs: 9.00 am - 5.00 pm</em> </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
    <!-- Slider Start -->
    <div id="rs-slider" class="rs-slider rs-slider-style2 rs-slider-style7">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img src="imgs/slider/style1/h2-16.jpg" alt="" title="#slide-1" />
                <img src="imgs/slider/style1/h2-17.jpg" alt="" title="#slide-2" />
            </div>
            <!-- Slide 1 -->
            <div id="slide-1" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            Welcome To <br>
                            WATER
                        </h1>
                        <p class="sl-desc">
                            Lorem Ipsum is simply dummy text of the printing and type<br>
                            setting has been the industry's standard dummy text
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/AboutUs">Discover More</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div id="slide-2" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            Custom solutions<br>
                            for warehourse.
                        </h1>
                        <p class="sl-desc">
                            Leverage agile frameworks to provide a robust synopsis for high level<br>
                            overviews. Iterative approaches to corporate strategy.
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/AboutUs">Discover More</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider End -->
    <!-- About Start -->
    <div class="rs-about about-style1 bg5 pt-120 pb-120 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-50">
                    <div class="images-part">
                        <img src="imgs/about/about-2-11.jpg" alt="About">
                    </div>
                </div>
                <div class="col-lg-6 pl-40 md-pl-15 pr-50 md-pr-15">
                    <div class="sec-title">
                        <span class="sub-text sub-text2">
                            About Us
                        </span>
                        <h2 class="title pb-20">
                            Making your vision come true at the basics.
                        </h2>
                        <p class="desc pb-20">
                            We have demonstrated our presence in this industry for more than 8 years by developing locally and regionally;
                            by launching 3 branches in Egypt. The office proudly inaugurated 3 more branches in Oman.
                        </p>
                        <h4 class="small-title pb-15">
                            We are world best Consulting & Engineering Services<br>
                            company projects including
                        </h4>
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <ul class="check-lists2">
                                    <li>Hydraulic Design</li>
                                    <li>Electrical Design</li>
                                    <li>Structural Design</li>
                                </ul>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <ul class="check-lists2">
                                    <li>Architectural Design</li>
                                    <li>Executive Drawings</li>
                                    <li>Implementation Supervision</li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-part mt-28">
                            <a class="readon more know" asp-action="index" asp-controller="AboutUs">Know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Section Start -->
        <div class="rs-services services-style1 pt-120 md-pt-70">
            <div class="container">
                <div class="sec-title text-center mb-50">
                    <span class="sub-text sub-text2">
                        Latest Services
                    </span>
                    <h2 class="title">
                        Develop comprehensive solutions<br>
                        for each project.
                    </h2>
                </div>
                <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true"
                 data-hoverpause="false" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false"
                 data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false"
                 data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true"
                 data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3"
                 data-md-device-nav="false" data-md-device-dots="true">

                @if (Model.ServicesDto?.Count() > 0)
                {
                    @foreach (var service in Model.ServicesDto)
                    {
                        <div class="services-slider">
                            <div class="services-img">
                                <a href="general-construction.html">
                                    <img src="assets/images/services/main-home/main-icons/service-icon1.png" alt="Services">
                                </a>
                            </div>
                            <div class="services-content">
                                <div class="services-titles" style="height:70px;">
                                    <h4 class="title">
                                        <a asp-action="ServiceDetails" asp-controller="Services"
                                   asp-route-ServiceCode="@service.ServiceCode">@service.ServiceName</a>
                                    </h4>
                                </div>
                                <p class="services-txt">
                                    @service.ServiceBrief
                                </p>
                                <div class="services-btn btn-style2">
                                    <a class="btn-text" asp-action="ServiceDetails" asp-controller="Services"
                               asp-route-ServiceCode="@service.ServiceCode">Know More<i class="fi fi-rr-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
    <!-- Services Section End -->
</div>
<!-- About End -->
<!-- Project Section Start -->
<div class="rs-project project-style2">
    <div class="sec-title text-center mb-50">
        <span class="sub-text sub-text2">
            Latest Project
        </span>
        <h2 class="title">
            Our latest completed and<br>
            running projects.
        </h2>
    </div>
    <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true"
         data-hoverpause="false" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false"
         data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2"
         data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true"
         data-md-device="4" data-md-device-nav="false" data-md-device-dots="true">
        @if (Model.ProjectHomeDto?.Count() > 0)
        {
            @foreach (var project in Model.ProjectHomeDto)
            {
                <div class="project-item">
                    <div class="project-img">
                        <img src="@project.ProjectPhotoPath" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="p-icon">
                            <a asp-controller="Project"
                       asp-route-ProjectCode="@project.ProjectCode"><i class="fi fi-rr-arrow-small-right"></i></a>
                        </div>
                        <div class="project-inner">
                            <span class="category">
                                <a asp-action="ProjectDetails" asp-controller="Project"
                           asp-route-ProjectCode="@project.ProjectCode">@project.ProjectLocation</a>
                            </span>
                            <h3 class="title">
                                <a asp-action="ProjectDetails" asp-controller="Project"
                           asp-route-ProjectCode="@project.ProjectCode">@project.ProjectName</a>
                            </h3>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>
<!-- Project Section End -->
<!-- Cta Start -->
<div class="rs-cta bg4 pt-116 pb-116 md-pt-76 md-pb-76">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-text-center md-mb-30">
                <div class="sec-title">
                    <span class="sub-text sub-text2 white-color">
                        Get In Touch
                    </span>
                    <h2 class="title white-color">
                        Have any upcoming project?
                    </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="btn-part text-right md-text-center">
                    <a class="readon more contact" href="#" @*href="contact.html*@">Request Services</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cta End -->
<!-- Clients Start -->
<div class="rs-partner partner-main-home pt-100 md-pt-10">
    <div class="container">
        <div class="sec-title text-center">
            <span class="sub-text sub-text2">
                Our Partners
            </span>
            <h2 class="title">
                We Cooperated With Many<br>
                Trusted Clients.
            </h2>
        </div>
        <div class="partner-content-widget">
            <div class="rs-carousel owl-carousel"
                 data-loop="true"
                 data-items="6"
                 data-margin="30"
                 data-autoplay="true"
                 data-hoverpause="false"
                 data-autoplay-timeout="5000"
                 data-smart-speed="800"
                 data-dots="false"
                 data-nav="false"
                 data-nav-speed="false"
                 data-md-device="6"
                 data-md-device-nav="false"
                 data-md-device-dots="false"
                 data-center-mode="false"
                 data-ipad-device2="4"
                 data-ipad-device-nav2="false"
                 data-ipad-device-dots2="false"
                 data-ipad-device="4"
                 data-ipad-device-nav="false"
                 data-ipad-device-dots="false"
                 data-mobile-device="2"
                 data-mobile-device-nav="false"
                 data-mobile-device-dots="false">
                <div class="logo-img">
                    <a>
                        <img class="hovers-logos rs-grid-img" src="assets/images/partner/style1/1.png" title="" alt="">
                        <img class="mains-logos rs-grid-img " src="assets/images/partner/style1/1.png" title="" alt="">
                    </a>
                </div>
                <div class="logo-img">
                    <a>

                        <img class="hovers-logos rs-grid-img" src="assets/images/partner/style1/2.png" title="" alt="">
                        <img class="mains-logos rs-grid-img " src="assets/images/partner/style1/2.png" title="" alt="">
                    </a>

                </div>
                <div class="logo-img">
                    <a>
                        <img class="hovers-logos rs-grid-img" src="assets/images/partner/style1/3.png" title="" alt="">
                        <img class="mains-logos rs-grid-img " src="assets/images/partner/style1/3.png" title="" alt="">
                    </a>
                </div>
                <div class="logo-img">
                    <a>
                        <img class="hovers-logos rs-grid-img" src="assets/images/partner/style1/4.png" title="" alt="">
                        <img class="mains-logos rs-grid-img " src="assets/images/partner/style1/4.png" title="" alt="">
                    </a>

                </div>
                <div class="logo-img">
                    <a>
                        <img class="hovers-logos rs-grid-img" src="assets/images/partner/style1/5.png" title="" alt="">
                        <img class="mains-logos rs-grid-img " src="assets/images/partner/style1/5.png" title="" alt="">
                    </a>

                </div>
                <div class="logo-img">
                    <a>
                        <img class="hovers-logos rs-grid-img" src="assets/images/partner/style1/6.png" title="" alt="">
                        <img class="mains-logos rs-grid-img " src="assets/images/partner/style1/6.png" title="" alt="">
                    </a>

                </div>
                <div class="logo-img">
                    <a>
                        <img class="hovers-logos rs-grid-img" src="assets/images/partner/style1/7.png" title="" alt="">
                        <img class="mains-logos rs-grid-img " src="assets/images/partner/style1/7.png" title="" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients End -->
<!-- Blog Section Start -->
<div id="rs-blog" class="rs-blog blog-main-home blog-modify1 bg7 pt-120 pb-115 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-50">
            <span class="sub-text sub-text2">
                News & Blog
            </span>
            <h2 class="title">
                Our latest news post<br>
                and articles
            </h2>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="false" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
            @if (Model.BlogHomeDto?.Count() > 0)
            {
                foreach (var blog in Model.BlogHomeDto)
                {
                    <div class="blog-item">
                        <div class="image-wrap">
                            <a asp-controller="Blog" asp-action="Index" asp-route-BlogCode="@blog.BlogCode"><img src="@blog.BlogPhoto" alt=""></a>
                        </div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li class="date"><i class="fa fa-calendar-check-o"></i>@blog.BlogDate</li>
                                <li class="admin"><i class="fa fa-user-o"></i>@blog.BlogPublisher</li>
                            </ul>
                            <h3 class="blog-title"><a asp-controller="Blog" asp-action="Index" asp-route-BlogCode="@blog.BlogCode">@blog.BlogTitle</a></h3>
                            <p class="desc">@blog.BlogBrief</p>
                            <div class="blog-button blog-bnt2">
                                <a href="blog-single.html">
                                    <a class="btn-text" asp-controller="Blog" asp-action="Index" asp-route-BlogCode="@blog.BlogCode">
                                        Read More
                                    </a>
                                    <i class="fi fi-rr-arrow-small-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-single.html"><img src="imgs/blog/style1/1.jpg" alt=""></a>
                </div>
                <div class="blog-content">
                    <ul class="blog-meta">
                        <li class="date"><i class="fa fa-calendar-check-o"></i>26 April 2022</li>
                        <li class="admin"><i class="fa fa-user-o"></i>Admin</li>
                    </ul>
                    <h3 class="blog-title"><a href="blog-single.html">Best practices construction law on construction</a></h3>
                    <p class="desc">The brand has responded by partnering with skincare experts on...</p>
                    <div class="blog-button blog-bnt2">
                        <a href="blog-single.html">
                            <span class="btn-text">
                                Read More
                            </span>
                            <i class="fi fi-rr-arrow-small-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->
