@using Westwind.Globalization
@model WATERWebsite.Core.ViewModels.HomeViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}
@section Toolbar{
    <div class="toolbar-area topbar-style1 topber-modify2 paste-color-modify1 hidden-md">
        <div class="container">
            <div class="rs-vertical-middle">
                <div class="float-left">
                    <div class="toolbar-contact">
                        <ul class="rs-contact-info">
                            <li>
                                <i class="fi fi-rr-envelope-plus"></i>
                                <a href="mailto:info@water-consult.net">info@water-consult.net</a>
                            </li>
                            <li>
                                <i class="fi fi-rr-phone-call"></i>
                                <a href="tel:01000327035"> 01000327035 </a>
                            </li>
                            <li>
                                <i class="fi-rr-map-marker-home"></i>
                                Salah Salem, Cairo, Egypt
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="toolbar-sl-share">
                        <ul class="clearfix" dir="ltr">
                            <li class="opening">
                                <em>
                                    <i class="fi fi-rr-time-add"></i>@DbRes.T("Saturday", "Resources", lang) –  @DbRes.T("Thurs", "Resources", lang) : @DbRes.T("9am", "Resources", lang) - @DbRes.T("5pm", "Resources", lang)
                                </em>
                            </li>
                            <li><a href="https://www.facebook.com/WATERCONSULT.IBRAHIMHENDY" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/water-engineering-environmental-consultations/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@if (lang == "ar")
{
    <!-- Slider Arabic Start -->
    <div id="rs-slider" class="rs-slider rs-slider-style2 rs-slider-style7">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img src="imgs/slider/style1/slide1.jpg" alt="" title="#slide-1" />
                <img src="imgs/slider/style1/slide2.jpg" alt="" title="#slide-2" />
                <img src="imgs/slider/style1/slide3.jpg" alt="" title="#slide-3" />
                <img src="imgs/slider/style1/slide4.jpg" alt="" title="#slide-4" />
            </div>
            <!-- Slide 1 -->
            <div id="slide-1" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            مرحبا بك فى <br>
                            ووتر للاستشارات الهندسية
                        </h1>
                        <p class="sl-desc">
                            مرحبا بك في شركة الاستشارات الهندسية الخاصة بنا<br />
                            ، حيث نقدم الحلول المبتكرة والمستدامة لتلبية احتياجاتك وتجاوز توقعاتك
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/AboutUs">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div id="slide-2" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            انغمس في<br />
                            الابتكار
                        </h1>
                        <p class="sl-desc">
                            نحن ملتزمون بتقديم خدمات تجمع بين الجودة الفائقة،<br />
                            والفعالية من حيث التكلفة ،<br />
                            مما يعكس تفانينا في التميز.
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/Services">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
            <!-- Slide 3 -->
            <div id="slide-3" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            حلول حديثة <br />
                            و مبتكرة
                        </h1>
                        <p class="sl-desc">
                            يدفع خبراؤنا الحدود لتقديم حلول مبتكرة<br />
                            تدفع مشروعك نحو نجاح ملحوظ.
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/Services">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
            <!-- Slide 4 -->
            <div id="slide-4" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            نتائج مشروعات<br />
                            فعالة
                        </h1>
                        <p class="sl-desc">
                            مع سجل مثبت للنجاح،<br />
                            اسمحوا لنا بمساعدتك في تحقيق مشاريعك على مستوى جديد.
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/Project">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider End -->
    <!-- About Start -->
    <div class="rs-about about-style1 bg5 pt-120 pb-120 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-50">
                    <div class="images-part">
                        <img src="imgs/about/about-2-11.jpg" alt="About">
                    </div>
                </div>
                <div class="col-lg-6 pl-40 md-pl-15 pr-50 md-pr-15">
                    <div class="sec-title">
                        <span class="sub-text sub-text2">
                            @DbRes.T("AboutUS", "Resources", lang)
                        </span>
                        <h2 class="title pb-20" style="font-size: 20px; line-height: 25px;">
                        </h2>
                        <p class="desc pb-20">
                            استشارات المياه هي شركة استشارات هندسية رائدة تقدم خدمات استشارية عالية الجودة عبر مجموعة متنوعة من التخصصات الهندسية.<br />
                            بما في ذلك هندسة المياه والهندسة الميكانيكية والهندسة الكهربائية والخدمات الجيوتقنية والتصميم الإنشائي والتصميم المعماري.<br />
                            يتمتع فريق الخبراء لدينا بسمعة طيبة في تقديم حلول مبتكرة تلبي أكثر التحديات الهندسية تطلبًا. نحن ملتزمون بتزويد عملائنا بخدمات عالية الجودة مخصصة لاحتياجاتهم الخاصة.

                        </p>
                        <div class="btn-part mt-28">
                            <a class="readon more know" asp-action="index" asp-controller="AboutUs">
                                @DbRes.T("KnowMore", "Resources", lang)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
}
else
{
    <!-- Slider Arabic Start -->
    <div id="rs-slider" class="rs-slider rs-slider-style2 rs-slider-style7">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img src="imgs/slider/style1/slide1.jpg" alt="" title="#slide-1" />
                <img src="imgs/slider/style1/slide2.jpg" alt="" title="#slide-2" />
                <img src="imgs/slider/style1/slide3.jpg" alt="" title="#slide-3" />
                <img src="imgs/slider/style1/slide4.jpg" alt="" title="#slide-4" />
            </div>
            <!-- Slide 1 -->
            <div id="slide-1" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title" style="font-size:45px;">
                            Welcome To <br>
                            WATER Engineering <br>
                            Consultations Firm
                        </h1>
                        <p class="sl-desc">
                            WATER is Our Business.
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/AboutUs">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div id="slide-2" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            Quality, Unique<br />
                            Services
                        </h1>
                        <p class="sl-desc">
                            We are committed to providing services <br />
                            that combine superior quality <br />
                            with cost-efficiency,reflecting our dedication to excellence. <br />
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/Services">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
            <!-- Slide 3 -->
            <div id="slide-3" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            Dive into<br>
                            innovation
                        </h1>
                        <p class="sl-desc">
                            Our experts push the boundaries <br />
                            to deliver innovative solutions <br />
                            that drive your project towards remarkable success.
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/Services">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
            <!-- Slide 4 -->
            <div id="slide-4" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <h1 class="sl-title">
                            Effective Projects<br />
                            Results
                        </h1>
                        <p class="sl-desc">
                            With a proven track record of success,<br />
                            let us help take your projects to the next level.
                        </p>
                        <div class="slider-bottom">
                            <a class="readon paste-btn" href="/Project">@DbRes.T("DiscoverMore", "Resources", lang)</a>
                        </div>
                        <div class="slide-layer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider End -->
    <!-- About Start -->
    <div class="rs-about about-style1 bg5 pt-120 pb-120 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-50">
                    <div class="images-part">
                        <img src="~/imgs/about/style1/who.jpg" alt="About">
                    </div>
                </div>
                <div class="col-lg-6 pl-40 md-pl-15 pr-50 md-pr-15">
                    <div class="sec-title">
                        <span class="sub-text sub-text2">
                            @DbRes.T("AboutUS", "Resources", lang)
                        </span>
                        <h2 class="title pb-20">
                            @*Making your vision come true at the basics.*@
                        </h2>
                        <p class="desc pb-20" style="text-align:justify;">
                            WATER CONSULTATIONS is a leading engineering consultancy firm that provides high-quality consultation services across a diverse range of engineering disciplines.<br>
                            including water engineering, mechanical engineering, electrical engineering, geotechnical services, structural design and architecture design<br>
                            Our team of Experts had a strong reputation for delivering innovative solutions that meet the most demanding engineering challenges. We are committed to providing our clients with high-quality services that are Customized to their specific needs.
                        </p>
                        <div class="btn-part mt-28">
                            <a class="readon more know" asp-action="index" asp-controller="AboutUs">
                                @DbRes.T("KnowMore", "Resources", lang)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
}
<!-- Services Section Start -->
<div class="rs-services services-style1 pt-120 md-pt-70">
    <div class="container">
        <div class="sec-title text-center mb-50">
            <span class="sub-text sub-text2">
                @DbRes.T("LatestServices", "Resources", lang)
            </span>
            @if (lang == "ar")
            {
                <h2 class="title">
                    بناء حلول مستدامة ، مصممة لتتجاوز توقعاتك
                </h2>
            }
            else
            {
                <h2 class="title">
                    Building Sustainable Solutions,<br>
                    Customized to Exceed Your Expectations
                </h2>
            }
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true"
             data-hoverpause="false" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false"
             data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false"
             data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true"
             data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3"
             data-md-device-nav="false" data-md-device-dots="true" style="direction:ltr;">

            @if (Model.DepartmentsDto?.Count() > 0)
            {
                @foreach (var department in Model.DepartmentsDto)
                {
                    <div class="services-slider">
                        <div class="services-img">
                            <a href="general-construction.html">
                                <img src="@department.DepartementLogo" alt="Department">
                            </a>
                        </div>
                        <div class="services-content">
                            <div class="services-titles" @*style="height:70px;"*@>
                                <h4 class="title">
                                    <a asp-action="DepartmentDetail" asp-controller="Department"
                               asp-route-ServiceCode="@department.DepartementCode">@department.DepartementName</a>
                                </h4>
                            </div>
                            <p class="services-txt" @*style="overflow-y:auto; max-height: 475px;"*@>
                                @department.DepartementHomeDesc
                            </p>
                            <div class="services-btn btn-style2">
                                <a class="btn-text" asp-action="DepartmentDetail" asp-controller="Department"
                           asp-route-ServiceCode="@department.DepartementCode">
                                    @DbRes.T("KnowMore", "Resources", lang)
                                    <i class="fi fi-rr-arrow-small-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>
<!-- Services Section End -->
<!-- Project Section Start -->
<div class="rs-project project-style2">
    <div class="container">
        <div class="sec-title text-center mb-50">
            <span class="sub-text sub-text2">
                @DbRes.T("LatestProject", "Resources", lang)
            </span>
            @if (lang == "ar")
            {
                <h2 class="title">
                    تعرف على بعض من أحدث مشاريعنا
                </h2>
            }
            else
            {
                <h2 class="title">
                    Meet some of our latest projects
                </h2>
            }
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true"
             data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false"
             data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2"
             data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true"
             data-md-device="3" data-md-device-nav="false" data-md-device-dots="true" style="direction:ltr;">
            @if (Model.ProjectHomeDto?.Count() > 0)
            {
                @foreach (var project in Model.ProjectHomeDto)
                {
                    <div class="project-item" style="height:250px">
                        <div class="project-img" style="height:100%">
                            @if (@project.ProjectPhotoPath != null)
                            {
                                <img src="@project.ProjectPhotoPath" alt="project" style="height:100%">
                            }
                            else
                            {
                                <img src="~/Resourses/Projects/projects-default.jpg" alt="project" style="height:100%">
                            }
                        </div>
                        <div class="project-content">
                            <div class="p-icon">
                                <a asp-controller="Project"
                           asp-route-ProjectCode="@project.ProjectCode"><i class="fi fi-rr-arrow-small-right"></i></a>
                            </div>
                            <div class="project-inner">
                                <span class="category">
                                    <a asp-action="ProjectDetails" asp-controller="Project"
                               asp-route-ProjectCode="@project.ProjectCode">@project.ProjectLocation</a>
                                </span>
                                <h3 class="title">
                                    <a asp-action="ProjectDetails" asp-controller="Project"
                               asp-route-ProjectCode="@project.ProjectCode">@project.ProjectName</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="btn-part mt-10 text-center">
            <a class="readon more know" href="/Project">
                @DbRes.T("DiscoverMore", "Resources", lang)
            </a>
        </div>
    </div>
</div>
<!-- Project Section End -->
<!-- Cta Start -->
<div class="rs-cta bg4 pt-116 pb-116 md-pt-76 md-pb-76">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-text-center md-mb-30">
                <div class="sec-title">
                    <span class="sub-text sub-text2 white-color">
                        @DbRes.T("GetInTouch", "Resources", lang)
                    </span>
                    <h2 class="title white-color">
                        @DbRes.T("HaveAnyUpcomingProject", "Resources", lang)
                    </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="btn-part text-right md-text-center">
                    <a class="readon more contact" href="/ContactUs">
                        @DbRes.T("RequestServices", "Resources", lang)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cta End -->
<!-- Clients Start -->
<div class="rs-partner partner-main-home pt-100 md-pt-10">
    <div class="container">
        <div class="sec-title text-center">
            <span class="sub-text sub-text2">
                @DbRes.T("OurClients", "Resources", lang)

            </span>
            <h2 class="title">
                @DbRes.T("OurClientsBrief", "Resources", lang)
            </h2>
        </div>
        <div class="partner-content-widget">
            <div class="rs-carousel owl-carousel"
                 data-loop="true"
                 data-items="6"
                 data-margin="30"
                 data-autoplay="true"
                 data-hoverpause="false"
                 data-autoplay-timeout="5000"
                 data-smart-speed="800"
                 data-dots="false"
                 data-nav="false"
                 data-nav-speed="false"
                 data-md-device="6"
                 data-md-device-nav="false"
                 data-md-device-dots="false"
                 data-center-mode="false"
                 data-ipad-device2="4"
                 data-ipad-device-nav2="false"
                 data-ipad-device-dots2="false"
                 data-ipad-device="4"
                 data-ipad-device-nav="false"
                 data-ipad-device-dots="false"
                 data-mobile-device="2"
                 data-mobile-device-nav="false"
                 data-mobile-device-dots="false"
                 style="direction:ltr;">
                @if (Model.HomeClientDto?.Count > 0)
                {
                    foreach (var client in Model.HomeClientDto)
                    {
                        <div class="logo-img">
                            <a>
                                <img class="hovers-logos rs-grid-img" src="@client.ClientPhotoPath" title="@client.ClientName" alt="@client.ClientName">
                                <img class="mains-logos rs-grid-img " src="@client.ClientPhotoPath" title="@client.ClientName" alt="@client.ClientName">
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Clients End -->
<!-- Blog Section Start -->
@*
<div id="rs-blog" class="rs-blog blog-main-home blog-modify1 bg7 pt-120 pb-115 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-50">
            <span class="sub-text sub-text2">
                @DbRes.T("Blog", "Resources", lang)
            </span>
            <h2 class="title">
                @DbRes.T("OurlatestNewsPostandArticles", "Resources", lang)

            </h2>
        </div>
        <div class="rs-carousel owl-carousel" style="direction:ltr;" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="false" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
            @if (Model.BlogHomeDto?.Count() > 0)
            {
                foreach (var blog in Model.BlogHomeDto)
                {
                    <div class="blog-item">
                        <div class="image-wrap">
                            <a asp-controller="Blog" asp-action="BlogDetails" asp-route-BlogCode="@blog.BlogCode">
                                @if (blog.BlogPhoto != null)
                                {
                                    <img src="@blog.BlogPhoto" alt="">
                                }
                                else
                                {
                                    <img src="~/Resourses/Blog/blog-default.jpg" alt="">
                                }
                            </a>
                        </div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li class="date"><i class="fa fa-calendar-check-o"></i>@blog.BlogDate</li>
                                <li class="admin"><i class="fa fa-user-o"></i>@blog.BlogPublisher</li>
                            </ul>
                            <h3 class="blog-title"><a asp-controller="Blog" asp-action="BlogDetails" asp-route-BlogCode="@blog.BlogCode">@blog.BlogTitle</a></h3>
                            <p class="desc">@blog.BlogBrief</p>
                            <div class="blog-button blog-bnt2">
                                <a href="blog-single.html">
                                    <a class="btn-text" asp-controller="Blog" asp-action="BlogDetails" asp-route-BlogCode="@blog.BlogCode">
                                        @DbRes.T("ReadMore", "Resources", lang)
                                    </a>
                                    <i class="fi fi-rr-arrow-small-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
*@
<!-- Blog Section End -->
