@page
@using Westwind.Globalization;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var lang = "ar";
}

<div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><div class="text-center">
    <h1 class="display-4">@DbRes.T("MainPage", "Resources", lang)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
