@using Westwind.Globalization;

@model IEnumerable<WATERWebsite.Core.ViewModels.ProjectViewModels.ProjectIndexViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img3">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @DbRes.T("Projects", "Resources", lang)
            </h1>
            <span class="sub-text">
                @DbRes.T("ProjectsHeader", "Resources", lang)
            </span>
            <ul class="breadcrumbs-area">
                <li title="Home">
                    <a class="active" href="/">@DbRes.T("Home", "Resources", lang)</a>
                </li>
                <li>@DbRes.T("Projects", "Resources", lang)</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Project Section Start -->
<div class="rs-project project-style5 yellow-modify4 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            @if (Model.Count() > 0)
            {
                foreach (var project in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="@project.ProjectPhotoPath" alt="Images">
                            </div>
                            <div class="project-content">
                                @*<span class="category"><a asp-action="ProjectDetails" asp-route-ProjectCode="@project.ProjectCode">@project.ProjectLocation</a></span>*@
                                <h3 class="title"><a asp-action="ProjectDetails" asp-route-ProjectCode="@project.ProjectCode">@project.ProjectName</a></h3>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Project Section End -->
