@using Westwind.Globalization;

@model WATERWebsite.Core.ViewModels.ProjectViewModels.ProjectDetailsViewModel
@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @Model.ProjectName
            </h1>
            <span class="sub-text">
                @Model.ProjectLocation
            </span>
            <ul class="breadcrumbs-area">
                <li title="Home">
                    <a class="active" asp-action="index" asp-controller="Project">@DbRes.T("Projects", "Resources", lang)</a>
                </li>
                <li>@Model.ProjectName</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Slider Section Start -->
<div class="rs-slider case-slider-style3 pt-20 md-pt-10">
    <div class="container">
        <div class="slider-img">
            @if (@Model.ProjectPhotoPath != null)
            {
                <img src="@Model.ProjectPhotoPath" alt="project" style="width:400px">
            }
            else
            {
                <img src="~/Resourses/Projects/projects-default.jpg" alt="project" style="width:400px">
            }
        </div>
    </div>
</div>
<!-- Slider Section End -->
<!-- Project Details Section Start -->
<div class="rs-project-details pt-70 md-pt-80">
    <div class="project-information mb-45">
        <div class="row">
            <div class="col-lg-3 col-md-6 md-mb-30 md-pl-15">
                <div class="project-content">
                    @if (lang == "en")
                    {
                        <div class="project-right-border"></div>
                    }
                    <h4 class="title">@DbRes.T("Owner", "Resources", lang)</h4>
                    <div class="description">
                        <p>@Model.ProjectOwner</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 md-mb-30 pl-50 md-pl-15">
                <div class="project-content">
                    <div class="project-right-border"></div>

                    <h4 class="title">@DbRes.T("Operator", "Resources", lang)</h4>
                    <div class="description">
                        <p>@Model.ProjectOperator</p>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-2 col-md-6 sm-mb-30 pl-50 md-pl-15">
            <div class="project-content">
            <div class="project-right-border"></div>
            <h4 class="title">@DbRes.T("Developer", "Resources", lang)</h4>
            <div class="description">
            </div>
            </div>
            </div>*@
            <div class="col-lg-2 col-md-6 md-mb-30 pl-50 md-pl-15">
                <div class="project-content">
                    <div class="project-right-border"></div>

                    <h4 class="title">@DbRes.T("Cost", "Resources", lang)</h4>
                    <div class="description">
                        <p>@Model.ProjectCost</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 md-mb-30 pl-50 md-pl-15">
                <div class="project-content">
                    @if (lang == "ar")
                    {
                        <div class="project-right-border"></div>
                    }
                    <h4 class="title">@DbRes.T("Capacity", "Resources", lang)</h4>
                    <div class="description">
                        <p>@Model.ProjectCapacity m3/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="project-txt mb-30">
            <h2 class="title pb-35 mb-10">@DbRes.T("ProjectOverview", "Resources", lang)</h2>

            <div class="desc">
                @Model.ProjectOverview
            </div>
        </div>

        <!-- Counter Section End -->

        <div class="rs-project-goals pt-115 md-pt-75">
            <div class="row y-middle">
                <div class="col-lg-6 pr-50 md-pr-15 md-mb-30">
                    <div class="project-content mb-45">
                        <div class="project-title">
                            <h2 class="title pb-35">@DbRes.T("ProjectServices", "Resources", lang)</h2>
                        </div>
                        <div class="desc pb-30">
                            We Provided thise services in the project
                        </div>
                        <ul class="check-lists check-lists3 check-single">
                            @if (Model.ProjectSpecificsDto?.Count() > 0)
                            {
                                foreach (var service in Model.ProjectSpecificsDto)
                                {
                                    @*<li>@service.SpecificName</li>*@
                                    <a asp-action="SpecificDetail" asp-controller="Services" asp-route-SpecificsCode="@service.SpecificCode" class="btn btn-outline-info">@service.SpecificName</a>
                                }
                            }
                        </ul>
                        @*<div class="desc pt-20">
                            Pronunciation and more common words. If several languages the coalesce.  over the years, sometimes by accident, sometimes on purpose. Over the years, sometimes by  purpose.
                        </div>*@
                    </div>
                </div>
                @*<div class="col-lg-6 mb-30">
                    <div class="project-goal">
                        <img src="~/imgs/project/details/pro-img1.jpg" alt="">
                    </div>
                </div>*@
            </div>

        </div>
    </div>
</div>
<!-- Project Details Section End -->
