@model IEnumerable<WATERWebsite.Core.ViewModels.ServicesIndexViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ser = 0;
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Services
            </h1>
            <span class="sub-text">
                Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br>
                modeserunt mollit anim id est 20 years experience.
            </span>
            <ul class="breadcrumbs-area">
                <li title="Go to konstruk">
                    <a class="active" href="/">Home</a>
                </li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Services Start -->
<div class="rs-services services-style13 gray-bg6 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                ser++;
                <div class="col-xl-4 col-md-6 mb-20">
                    <div class="services-item">
                        <div class="serial-number">	@ser</div>
                        <div class="services-icon">
                            <img src="@item.ServiceLogo" alt="Images">
                        </div>
                        <div class="services-text">
                            <h4 class="title"><a asp-action="ServiceDetails" asp-route-ServiceCode="@item.ServiceCode">@item.ServiceName</a></h4>
                            <p class="services-txt">
                                @item.ServiceBrief
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Services End -->
