@using Westwind.Globalization;

@model WATERWebsite.Core.ViewModels.ServiceDetailsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var ser = 0;
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}
<style>
    .rs-breadcrumbs {
        height: 250px;
    }

        .rs-breadcrumbs .breadcrumbs-inner {
            padding-top: 100px
        }

    .rs-services-single .services-add .address-wrap-item a {
        font-size: unset;
        line-height: unset;
    }

    .rs-breadcrumbs .breadcrumbs-inner .page-title:after {
        top: 85px;
    }
</style>
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img3">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @Model.ServiceName
            </h1>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Services Single Start -->
<div class="rs-services-single pt-60 pb-60 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 md-mb-10">
                @*<div class="services-img mb-15">
                <img src="@Model.ServicePhotoPath" style="width: 775px; height: 450px;">
                </div>*@
                <p class="desc-part pb-10">
                    @Model.ServiceOverview
                </p>
                <!-- Faq Section Start -->
                @if (Model.ServiceDetails?.Count > 0)
                {
                    <div class="rs-inner-blog pt-10 pb-10 md-pt-40 md-pb-10">
                        <div class="container" style="padding: 0;">
                            <div class="row">
                                <div class="widget-area">
                                    <div class="categories mb-10">
                                        <div class="widget-title mb-15">
                                            <h3 class="title">@Model.ServiceName - @DbRes.T("Services", "Resources", lang) -</h3>
                                        </div>
                                        @foreach (var serviceDetail in Model.ServiceDetails)
                                        {
                                            <ul>
                                                <li>
                                                    @if (serviceDetail.IsClickable)
                                                    {
                                                        <a asp-action="ServiceDetailItem" asp-route-ServiceDetailCode="@serviceDetail.ServiceDetailCode">
                                                            @serviceDetail.ServiceDetailName
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a style="cursor:default;">
                                                            @serviceDetail.ServiceDetailName
                                                        </a>
                                                    }
                                                    <p class="service-brief-txt">
                                                        @serviceDetail.ServiceDetailBrief
                                                    </p>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <p class="desc-part pb-10">
                    @Model.ServiceEnd
                </p>
            </div>
            <div class="col-lg-4 pl-36 md-pl-15">
                <h5 class="side-title">
                    Other Services
                </h5>
                <ul class="mb-50">
                    @if (Model.ServiceList?.Count > 0)
                    {
                        @foreach (var service in Model.ServiceList)
                        {
                            if(service.ServiceOverview != null)
                            {
                                <li><a class ="btn btn-outline-primary btn-list w-100" asp-controller="Services" asp-action="ServiceDetails" asp-route-ServiceCode="@service.ServiceCode">@service.ServiceName</a>

                                </li>
                            }
                            else
                            {
                                <li><a class="btn btn-outline-primary btn-list w-100" style="cursor:default;">@service.ServiceName</a></li>

                            }
                        }
                    }
                </ul>
                <div class="services-add mb-50">
                    <div class="services-overlay"></div>
                    <div class="address-wrap-item mb-20">
                        <div class="icon-part mb-37">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <h2 class="title">
                            @DbRes.T("HaveAnyUpcomingProject", "Resources", lang) @DbRes.T("GetThisService", "Resources", lang) <span>
                                @DbRes.T("Now", "Resources", lang)!
                            </span>
                        </h2>
                        <div class="divider">
                            <span class="divider-separator"></span>
                        </div>
                        <div class="contact">
                            <a class="readon more contact footer" href="/ContactUs">@DbRes.T("ContactUs", "Resources", lang)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Single End -->
