@using Westwind.Globalization;
@model WATERWebsite.Core.ViewModels.ServiceDetailsDto

@{
    ViewData["Title"] = "ServiceDetailItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}
<div class="rs-services-single pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <p class="desc-part pb-10">
            @Model.ServiceDetailBrief
        </p>
        @*@if (Model.ServiceDetailOverview != "" || Model.ServiceDetailOverview != null)
        {
        <h3> Service Overview</h3>
        <p>@Html.Raw(Model.ServiceDetailOverview)</p>
        <br>
        }*@
        @if (Model.ServiceDetailSpecifics?.Count > 0)
        {
            @foreach (var specific in Model.ServiceDetailSpecifics)
            {
                <div style="width: 80%; margin: 0px 0 20px 50px;">
                    <i style="color:#0D659D;" class="fi fi-rr-comment-info"></i>
                    <span style="font-size: 18px; font-weight: bold;">
                        <a asp-action="SpecificDetail" asp-route-SpecificsCode="@specific.SpecificCode">@specific.SpecificName:</a>
                    </span>
                    <span>
                        @specific.SpecificBrief
                    </span>
                </div>
                <br />
            }
        }
        <p class="desc-part pb-10">
            @Model.ServiceDetailEnd
        </p>
    </div>
</div>
<script src="~/assets/js/jquery.min.js"></script>
<script>
    $("#rs-header").addClass("header-home");
</script>
