@model IEnumerable<WATERWebsite.Core.ViewModels.AboutUsViewModels.AboutUsTeamViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                About Us
            </h1>
            <span class="sub-text">
                We have demonstrated our presence in this industry for more than 8 years by developing locally and regionally;
                by launching 3 branches in Egypt. The office proudly inaugurated 3 more branches in Oman.
            </span>
            <ul class="breadcrumbs-area">
                <li title="Go to konstruk">
                    <a class="active" href="#l">Home</a>
                </li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- About Start -->
<div class="rs-about about-style1 bg1 pt-120 pb-120 md-pt-80 md-pb-75">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="images-part">
                    <img src="~/imgs/about/style1/about.png" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-50 md-pl-15">
                <div class="sec-title">
                    <span class="sub-text">
                        <img src="assets/images/shape-1.png" alt="Images">
                        Who We Are
                    </span>
                    <h2 class="title pb-20">
                        Our Vision:
                    </h2>
                    <p class="desc pb-37">
                        To be an international leading multidisciplinary engineering services firm by virtue of our exceptional team,
                        superior services, and innovative solutions.
                    </p>
                    <div class="row y-middle">
                        <div class="col-lg-4 col-md-4 sm-mb-30">
                            <div class="about-img">
                                <img src="~/imgs/about/style1/abzt.jpg" alt="About">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <ul class="check-lists">
                                <li class="list-item">
                                    <span class="icon-list-icon">
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                    <span class="list-text">Pre-construction services</span>
                                </li>
                                <li class="list-item">
                                    <span class="icon-list-icon">
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                    <span class="list-text">Industrial manufacturing</span>
                                </li>
                                <li class="list-item">
                                    <span class="icon-list-icon">
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                    <span class="list-text">Building and construction</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-47 md-mt-25">
                        <div class="col-lg-6 col-md-4 sm-mb-30">
                            <div class="btn-part">
                                <a class="readon more know" href="about.html">Know more</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="signeture-img">
                                <img src="assets/images/about/style1/signeture1.png" alt="Images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Skillbar Choose Start -->
<div class="rs-skillbar skillbar-style1 skillbar-modify5 bg22 pt-30 pb-30">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-60 md-pr-15 mt-40 md-mb-40">
                <div class="sec-title mb-45">
                    <h2 class="title title4 pb-30">
                        Our Mission:
                    </h2>
                    <p class="desc desc8">
                        To help clients maximize their businesses on a local, regional,<br />
                        and global scale through our tailored strategic business consulting while building
                        and sustaining long-term relationships with those clients.
                    </p>
                </div>
                <!-- Skillbar Section Start -->
                @*<div class="cl-skill-bar">
                <!-- Start Skill Bar -->
                <span class="skillbar-title">Planning</span>
                <div class="skillbar" data-percent="85">
                <p class="skillbar-bar"></p>
                <span class="skill-bar-percent">85%</span>
                </div>
                <!-- Start Skill Bar -->
                <span class="skillbar-title">Design</span>
                <div class="skillbar" data-percent="95">
                <p class="skillbar-bar"></p>
                <span class="skill-bar-percent">95%</span>
                </div>
                <!-- Start Skill Bar -->
                <span class="skillbar-title">Development</span>
                <div class="skillbar" data-percent="75">
                <p class="skillbar-bar"></p>
                <span class="skill-bar-percent">75%</span>
                </div>
                <!-- Start Skill Bar -->
                <span class="skillbar-title">Delivery</span>
                <div class="skillbar" data-percent="90">
                <p class="skillbar-bar"></p>
                <span class="skill-bar-percent">90%</span>
                </div>
                </div>*@
                <!-- Skillbar Section End -->
            </div>
            <div class="col-lg-6 video-img">
                <div class="rs-videos">
                    <div class="animate-border">
                        <a class="popup-border popup-videos" href="https://www.youtube.com/watch?v=FMvA5fyZ338">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skillbar Choose End -->
<!-- Services Start -->
<div id="rs-services" class="rs-services services-style3 bg5 pt-120 pb-120 md-pt-70 md-pb-80">
    <div class="ml-25">
        <div class="sec-title2 text-center mb-65 md-mb-45">
            <span class="sub-title">Our Strory</span>
            <h3 class="story" style="font-family:'Roboto';">
                Water Consult was founded in 2014 by Dr. Eng. Ibrahim Hendy.
                <br>
                as a leading multidisciplinary engineering realm.
            </h3>
            <div class="heading-border-line"></div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-12 mb-60">
                <div class="services-item">
                    <div class="services-icon">
                        <img src="assets/images/services/style3/ser-icon1.png" alt="Services">
                    </div>
                    <div class="services-text">
                        <h2 class="title">Growth Strategy</h2>
                        <p class="services-txt">
                            We have demonstrated our presence in this industry for more than 8 years by developing locally and regionally;
                            by launching 3 branches in Egypt. The office proudly inaugurated 3 more branches in Oman
                        </p>
                        <p class="services-txt">
                            Despite the region's revolutions and the exponential growth in demand for engineering services,
                            Water Consult has always endeavored to be at the forefront of the industrial world, providing the highest quality solutions.
                        </p>
                        <p class="services-txt">
                            The firm was developed to accomplish the highest levels of integrated engineering and consulting services,
                            which are based on scientific methodologies and international standards,
                            with project management to keep pace with the world's technological and industrial development.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-60">
                <div class="services-item">
                    <div class="services-icon">
                        <img src="assets/images/services/style3/ser-icon1.png" alt="Services">
                    </div>
                    <div class="services-text">
                        <h2 class="title">Nature of Services</h2>
                        <p class="services-txt">
                            Our focus is on providing the most qualified tailored strategic advice to assist companies and clients in maximizing their businesses at the local,
                            regional, and international levels, while developing strong and long-term relationships with them and always striving to meet their needs.
                            Undoubtedly, none of this would be possible without our team’s expertise
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-60">
                <div class="services-item">
                    <div class="services-icon">
                        <img src="assets/images/services/style3/ser-icon1.png" alt="Services">
                    </div>
                    <div class="services-text">
                        <h2 class="title">Expertise Team</h2>
                        <p class="services-txt">
                            Over the past 8 years, Water Consult has grown with our innovative team of master's degree and doctoral-level engineers,
                            including Hydraulic Experts, Soil Mechanics and Foundation Experts, Project Managers, Supervisors, Civil Engineers,
                            Architects, Planners, and Survey Engineers, and others who are capable of managing hundreds of projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-60">
            <div class="services-item">
                <div class="services-icon">
                    <img src="assets/images/services/style3/ser-icon1.png" alt="Services">
                </div>
                <div class="services-text">
                    <h2 class="title">Satisfied Clients</h2>
                    <p class="services-txt">
                        Over the past many years, we have successfully supervised the implementation of thousands of projects in a variety of industries,
                        and we are pleased to have satisfied over 1200 clients by overseeing their projects, whether in or outside Egypt.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-60">
            <div class="services-item">
                <div class="services-icon">
                    <img src="assets/images/services/style3/ser-icon1.png" alt="Services">
                </div>
                <div class="services-text">
                    <h2 class="title">ISO Accreditation</h2>
                    <p class="services-txt">
                        Since Egypt has the fewest number of houses of expertise, we aim to become one of the best ones and 
                        pursuit of getting the ISO accreditation for quality and supervision.
                        It’s notable to mention that we are registered in the Egyptian Engineers Syndicate.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
<!-- Services End -->
<!-- Core Values Start -->
<div class="rs-process process-style3 bg23 pt-150 pb-115 md-pt-115 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sec-title mb-70 md-mb-15">
                    <h2 class="title title4 ser-style1">
                        Our working process -  how we<br>
                        work for our customers
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 text-right md-left md-mb-40">
                <div class="btn-part mt-20">
                    <a class="readon more touch" href="contact.html">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container custom3">
        <div class="process-bg">
            <div class="row">
                <div class="col-xl-3 col-md-6 md-md-40">
                    <div class="process-item process-gap">
                        <div class="number-image">
                            <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">01</span>
                            </div>
                            <h3 class="number-title"> Work </h3>
                            <ul class="fa-ul">
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 md-md-40">
                    <div class="process-item process-gap">
                        <div class="number-image">
                            <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">02</span>
                            </div>
                            <h3 class="number-title"> Accuracy </h3>
                            <ul>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 sm-mb-40">
                    <div class="process-item process-gap">
                        <div class="number-image">
                            <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">03</span>
                            </div>
                            <h3 class="number-title"> Talent & Teamwork </h3>
                            <ul>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="process-item process-gap">
                        <div class="number-image">
                            <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">04</span>
                            </div>
                            <h3 class="number-title"> Efficiency </h3>
                            <ul>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                                <li>We always adhere to the high standards in our projects</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Core Values End -->
<!-- Team Section Start -->
<div class="rs-team team-style6 pt-120 pb-205 md-pt-80 md-pb-165">
    <div class="container">
        <div class="row">
            @if (Model.Count() > 0)
            {
                @foreach (var employee in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-135">
                        <div class="team-item">
                            <div class="team-inner-wrap">
                                <div class="image-wrap">
                                    <a asp-action="EmpolyeeDetails" asp-controller="Employee" asp-route-EmployeeCode="@employee.EmployeeCode"><img src="@employee.EmployeePhotoPath" alt="Team"></a>
                                </div>
                                <div class="team-content">
                                    <h3 class="team-name">
                                        <a asp-action="EmpolyeeDetails" asp-controller="Employee" asp-route-EmployeeCode="@employee.EmployeeCode">@employee.EmployeeName</a>
                                    </h3>
                                    <span class="team-title">@employee.EmployeeJob</span>
                                    <p class="team-desc"><a asp-action="EmpolyeeDetails" asp-controller="Employee" asp-route-EmployeeCode="@employee.EmployeeCode">Details</a></p>
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a>   </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        View All
    </div>
</div>
<!-- Team Section End -->
