@using Westwind.Globalization;
@model IEnumerable<WATERWebsite.Core.ViewModels.AboutUsViewModels.AboutUsTeamViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = "en";
    if (Context.Session.GetString("lang") != null)
    {
        language = Context.Session.GetString("lang");
    }
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @DbRes.T("AboutUS", "Resources", language)
            </h1>
            <span class="sub-text">
                @DbRes.T("AboutUsBrief", "Resources", language)
            </span>
            <ul class="breadcrumbs-area">
                <li title="Home">
                    <a class="active" href="/">@DbRes.T("Home", "Resources", language)</a>
                </li>
                <li>@DbRes.T("AboutUS", "Resources", language)</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- About Start -->
<div class="rs-about about-style1 bg1 pt-60 pb-60 md-pt-80 md-pb-75">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="images-part">
                    <img src="~/imgs/about/style1/about.png" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-50 md-pl-15">
                <div class="sec-title">
                    <span class="sub-text">
                        <img src="~/imgs/shape-1.png" alt="Images">
                        @DbRes.T("WhoWeAre", "Resources", language)
                    </span>
                    <h2 class="title pb-20">
                        @DbRes.T("OurVision", "Resources", language):
                    </h2>
                    <p class="desc pb-37">
                        @DbRes.T("OurVisionBrief", "Resources", language)
                    </p>
                    <h2 class="title pb-20">
                        @DbRes.T("OurMission", "Resources", language):
                    </h2>
                    <p class="desc pb-37">
                        @DbRes.T("OurMissionBrief1", "Resources", language)<br />
                        @DbRes.T("OurMissionBrief2", "Resources", language)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
@if (language == "ar")
{
    <!-- Core Values Arabic Start -->
    <div class="rs-process process-style3 bg23 pt-150 pb-115 md-pt-115 md-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title mb-70 md-mb-15">
                        <h2 class="title title4 ser-style1">
                            قيمنا الأساسية<br>
                        </h2>
                    </div>
                </div>
                @*<div class="col-lg-4 text-right md-left md-mb-40">
            <div class="btn-part mt-20">
            <a class="readon more touch" href="/ContactUs">@DbRes.T("GetInTouch", "Resources", lang)</a>
            </div>
            </div>*@
            </div>
        </div>
        <div class="custom3">
            <div class="process-bg">
                <div class="row">
                    <div class="col-md-6">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">01</span>
                                </div>
                                <h3 class="number-title"> العمل </h3>
                                <ul>
                                    <li><p class="number-txt">• الالتزام بالمعايير العالية في مشاريعنا</p></li>
                                    <li><p class="number-txt">• الدفاع عن مبادئنا ومعتقداتنا</p></li>
                                    <li><p class="number-txt">• نقدم أفضل الحلول ولا نضلل أبدًا</p></li>
                                    <li><p class="number-txt">• نلتزم ونتعلم من أخطائنا</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">02</span>
                                </div>
                                <h3 class="number-title"> الدقة </h3>
                                <ul>
                                    <li><p class="number-txt">• تقديم خدمات متميزة وقيم مميزة</p></li>
                                    <li><p class="number-txt">• تطوير مقاييس أدائنا</p></li>
                                    <li><p class="number-txt">• نقدم أفضل الحلول ولا نضلل أبدًا</p></li>
                                    <li><p class="number-txt">• نحن دائما على دراية وتحديث</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">03</span>
                                </div>
                                <h3 class="number-title"> الموهبة والعمل الجماعي </h3>
                                <ul>
                                    <li><p class="number-txt">• العمل الجماعي سيضاعف نمونا</p></li>
                                    <li><p class="number-txt">• نحن نؤمن باحترام ثقافات ومعتقدات الآخرين</p></li>
                                    <li><p class="number-txt">• نحن دائمًا مرنون وداعمون ومتعاطفون</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">04</span>
                                </div>
                                <h3 class="number-title"> الكفاءة </h3>
                                <ul>
                                    <li><p class="number-txt">•	نحن دائمًا نشيطون ومستجيبون</p></li>
                                    <li><p class="number-txt">• نلتزم دائمًا بالمواعيد النهائية لدينا بأعلى جودة</p></li>
                                    <li><p class="number-txt">• نحن لا نخاف من التحديات. نسعى دائمًا لتحقيق الكمال</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <img src="assets/images/process/style3/icons/p1.png" alt="Images">
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">05</span>
                                </div>
                                <h3 class="number-title"> المسؤولية والالتزام </h3>
                                <ul>
                                    <li><p class="number-txt">•	نحن دائما لدينا رؤية و متعاونون</p></li>
                                    <li><p class="number-txt">• نحن دائما موثوقون وخاضعون للمساءلة</p></li>
                                    <li><p class="number-txt">• نحن لا نغفل عن أهدافنا النهائية</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <!-- Core Values Arabic End -->
}
else if (language == "en")
{
    <!-- Core Values Start -->
    <div class="rs-process process-style3 bg23 pt-150 pb-115 md-pt-115 md-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title mb-70 md-mb-15">
                        <h2 class="title title4 ser-style1">
                            Our Core Values<br>
                        </h2>
                    </div>
                </div>
                @*<div class="col-lg-4 text-right md-left md-mb-40">
            <div class="btn-part mt-20">
            <a class="readon more touch" href="/ContactUs">@DbRes.T("GetInTouch", "Resources", lang)</a>
            </div>
            </div>*@
            </div>
        </div>
        <div class="custom3">
            <div class="process-bg">
                <div class="row">
                    <div class="col-md-6">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <h2 class="title pb-20 core-value">
                                    W
                                </h2>
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">01</span>
                                </div>
                                <h3 class="number-title"> Work </h3>
                                <ul>
                                    <li><p class="number-txt">• adhere to the high standards in our projects</p></li>
                                    <li><p class="number-txt">• stand up for our principles & beliefs</p></li>
                                    <li><p class="number-txt">• provide the best solutions & we never mislead</p></li>
                                    <li><p class="number-txt">• committed & learn from our mistakes</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <h2 class="title pb-20 core-value">
                                    A
                                </h2>
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">02</span>
                                </div>
                                <h3 class="number-title"> Accuracy </h3>
                                <ul>
                                    <li><p class="number-txt">• provide outstanding services & Premium Values</p></li>
                                    <li><p class="number-txt">• develop our performance metrics</p></li>
                                    <li><p class="number-txt">• provide the best solutions & we never mislead</p></li>
                                    <li><p class="number-txt">• knowledgeable & Updated</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <h2 class="title pb-20 core-value">
                                    T
                                </h2>
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">03</span>
                                </div>
                                <h3 class="number-title"> Talent & Teamwork </h3>
                                <ul>
                                    <li><p class="number-txt">• Teamwork will multiply our growth</p></li>
                                    <li><p class="number-txt">• We believe in respecting others’ cultures & beliefs</p></li>
                                    <li><p class="number-txt">• We are always flexible, supportive, empathic</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <h2 class="title pb-20 core-value">
                                    E
                                </h2>
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">04</span>
                                </div>
                                <h3 class="number-title"> Efficiency </h3>
                                <ul>
                                    <li><p class="number-txt">•	We are always Energetic & Responsive</p></li>
                                    <li><p class="number-txt">• We always meet our deadlines with the highest quality</p></li>
                                    <li><p class="number-txt">• We are not afraid of challenges; we always pursue the perfection</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="process-item process-gap">
                            <div class="number-image">
                                <h2 class="title pb-20 core-value">
                                    R
                                </h2>
                            </div>
                            <div class="number-text">
                                <div class="number-area">
                                    <span class="number-prefix">05</span>
                                </div>
                                <h3 class="number-title"> Responsibility & Commitment </h3>
                                <ul>
                                    <li><p class="number-txt">•	We are always visionary, helpful</p></li>
                                    <li><p class="number-txt">• We are always reliable, accountable</p></li>
                                    <li><p class="number-txt">• We never lose sight of our ultimate goals</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <!-- Core Values End -->
}
<!-- Services Start -->
<div id="rs-services" class="rs-services services-style3 bg5 pt-60 pb-60 md-pt-70 md-pb-80">
    <div class="ml-25">
        <div class="sec-title2 text-center mb-65 md-mb-45">
            <span class="sub-title">@DbRes.T("OurStory", "Resources", language)</span>
            <h3 class="story" style="font-family:'Roboto';">
                @DbRes.T("OurStoryBrief1", "Resources", language).
                <br>
                @DbRes.T("OurStoryBrief2", "Resources", language).
            </h3>
            <div class="heading-border-line"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-60">
                    <div class="services-item">
                        <div class="row">
                            <div class="col-md-8 mb-60">
                                <div class="services-text">
                                    <h2 class="title">@DbRes.T("GrowthStrategy", "Resources", language)</h2>
                                    <p class="services-txt">
                                        @DbRes.T("GrowthStrategyBrief", "Resources", language)
                                    </p>
                                    <p class="services-txt">
                                        @DbRes.T("GrowthStrategyBrief1", "Resources", language)
                                    </p>
                                    <p class="services-txt">
                                        @DbRes.T("GrowthStrategyBrief2", "Resources", language)
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-60 mt-50">
                                <img src="~/imgs/about/growth.jpg" alt="Services">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-title2 text-center mb-65 md-mb-45">
        <span class="sub-title">@DbRes.T("CeoWord", "Resources", language)</span>
        <div class="heading-border-line"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-60">
                <div class="services-item">
                    <div class="row">
                        <div class="col-md-4 mb-60 mt-6">
                            <img src="~/imgs/about/ceo.jpg" alt="Services">
                        </div>
                        <div class="col-md-8 mb-60">
                            <div class="services-text">
                                <p class="services-txt">
                                    @DbRes.T("CeoWordBrief", "Resources", language)
                                </p>
                                <p class="services-txt">
                                    @DbRes.T("CeoWordBrief1", "Resources", language)
                                </p>
                                <p class="services-txt">
                                    @DbRes.T("CeoWordBrief2", "Resources", language)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skillbar Choose End -->