@model List<WATERWebsite.Core.ViewModels.JobViewModels.JobIndexViewModel>
@{
    ViewBag.Title = "Jobs";
    ViewBag.pTitle = "Jobs";
    ViewBag.pageTitle = "Jobs";
    Layout = "~/Views/SharedDashboard/_Layout.cshtml";
    var ser = 1;
}

@section styles{
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <style>
        .text-limit {
            width: 700px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap !important;
        }

        i {
            font-size: large;
        }

        .ri-checkbox-circle-fill {
            color: green;
        }

        .ri-close-circle-fill {
            color: red;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <button id="addNewJob" type="button" class="btn btn-primary">Add Job</button>
            </div>
            <div class="card-body">
                <table id="scroll-horizontal" class="table table-striped nowrap align-middle" style="width:100%">
                    <thead>
                        <tr>
                            <th width="5px">Ser</th>
                            <th>Job Name</th>
                            @*<th>Describtion</th>*@
                            <th>Is Available</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model)
                        {
                            <tr>
                                <td class="job_name">@ser</td>
                                <td class="job_name">@job.JobName</td>
                                @*<td class="job_desc text-limit">@Html.Raw(@job.JobDescription)</td>*@
                                <td class="availiable">
                                    @if (job.IsAvailable)
                                    {
                                        <i class="ri-checkbox-circle-fill"></i>
                                    }
                                    @if (!job.IsAvailable)
                                    {
                                        <i class="ri-close-circle-fill"></i>
                                    }

                                </td>
                                <td>
                                    <div class="dropdown d-inline-block">
                                        <div class="d-flex gap-2">

                                            <div class="edit">
                                                <button data-jobcode="@job.JobCode" class="btn btn-sm btn-success edit-item-btn edit-job">
                                                    Edit
                                                </button>
                                            </div>
                                            <div class="remove">
                                                <button data-jobcode="@job.JobCode" class="btn btn-sm btn-danger remove-item-btn remove-job">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            ser++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
@*MODAl*@
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
@*MODAl*@

<!--end row-->
@section scripts{

    <!-- ckeditor -->
    <script src="~/assetsDashboard/libs/@@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <!-- prismjs plugin -->
    <script src="~/assetsDashboard/libs/prismjs/prism.js"></script>
    <script src="~/assetsDashboard/js/pages/form-editor.init.js"></script>
    <!-- App js -->
    <script src="~/assetsDashboard/js/app.js"></script>


    <script>
        function initializeFormValidation() {
            // Fetch the form inside the modal
            var modalForm = document.querySelector("#myModal form");
            if (modalForm) {
                modalForm.addEventListener('submit', function (event) {
                    if (modalForm.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    modalForm.classList.add('was-validated');
                }, false);
            }
        }
        $(document).ready(function () {
            $('#myModal').on('shown.bs.modal', function () {
                initializeFormValidation();
            });
            $("#addNewJob").click(function () {
                $("#myModal").modal("show");

                $.ajax({
                    url: "/Career/AddJob",
                    type: "GET",
                    success: function (data) {
                        $("#modal-content").html(data);
                        initializeFormValidation();
                    },
                    error: function () {
                        alert("An error occurred");
                    }
                });
            });
            $(".edit-job").click(function () {
                var jobCode = $(this).data("jobcode");
                $("#myModal").modal("show");
                $.ajax({
                    url: "/Career/AddJob?JobCode=" + jobCode,
                    type: "GET",
                    success: function (data) {
                        $("#modal-content").html(data);
                        initializeFormValidation();
                    },
                    error: function () {
                        alert("An error occurred");
                    }
                });
            });
            $(".remove-job").click(function () {
                var jobCode = $(this).data("jobcode");
                Swal.fire({
                    title: 'Are You Sure You want To delete This item ?',
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                    confirmButtonClass: 'btn btn-primary w-xs me-2',
                    cancelButtonClass: 'btn btn-danger w-xs',
                    buttonsStyling: false,
                    showCloseButton: true,
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Career/RemoveJob?JobCode=" + jobCode,
                            type: "GET",
                            success: function (res) {
                                if (res.success) {
                                    Swal.fire({
                                        title: 'Item has been deleted successfully',
                                        confirmButtonClass: 'btn btn-primary w-xs mt-2',
                                        buttonsStyling: false,
                                        showCloseButton: true
                                    }).then((result) => {
                                        // Reload the page after the Swal message is confirmed
                                        if (result.isConfirmed) {
                                            location.reload();
                                        }
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: 'Something went wrong',
                                        confirmButtonClass: 'btn btn-danger w-xs mt-2',
                                        buttonsStyling: false,
                                        showCloseButton: true
                                    })
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Something went wrong',
                                    confirmButtonClass: 'btn btn-danger w-xs mt-2',
                                    buttonsStyling: false,
                                    showCloseButton: true
                                })
                            }
                        });
                    }
                })
            });
        });
    </script>
}