@using Westwind.Globalization;

@model IEnumerable<WATERWebsite.Core.ViewModels.BlogViewModels.BlogIndexViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img4">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @DbRes.T("Blog", "Resources", lang)
            </h1>
            <span class="sub-text">
                @DbRes.T("FollowOutLatestNews", "Resources", lang)
            </span>
            <ul class="breadcrumbs-area">
                <li title="Home">
                    <a class="active" href="/">
                        @DbRes.T("Home", "Resources", lang)
                    </a>
                </li>
                <li>
                    @DbRes.T("Blog", "Resources", lang)
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Blog Section Start -->
<div class="rs-inner-blog pt-120 pb-105 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 md-mb-50">
                <div class="row">
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-12 mb-50">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a asp-action="BlogDetails" asp-route-BlogCode="@item.BlogCode">
                                            @if (item.BlogPhoto != null)
                                            {
                                                <img src="@item.BlogPhoto" alt="">
                                            }
                                            else
                                            {
                                                <img src="~/Resourses/Blog/blog-default.jpg" alt="">
                                            }
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <h3 class="blog-title"><a asp-action="BlogDetails" asp-route-BlogCode="@item.BlogCode">@item.BlogTitle</a></h3>
                                        <div class="blog-meta">
                                            <ul class="btm-cate">
                                                <li>
                                                    <div class="author">
                                                        <i class="fi fi-rr-user"></i> @item.BlogPublisher
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="blog-date">
                                                        <i class="fi fi-rr-calendar"></i> @item.BlogDate
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="blog-desc">
                                            @item.BlogBrief
                                        </div>
                                        <div class="blog-button inner-btn">
                                            <a class="blog-btn" asp-action="BlogDetails" asp-route-BlogCode="@item.BlogCode">
                                                @DbRes.T("ContinueReading", "Resources", lang)
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-12 pl-25 md-pl-15">
                <div class="widget-area">
                    <div class="recent-posts mb-50">
                        <div class="widget-title">
                            <h3 class="title">Recent Posts</h3>
                        </div>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="recent-post-widget">
                                    <div class="post-img">
                                        @if (item.BlogPhoto != null)
                                        {
                                            <img src="@item.BlogPhoto" alt="">
                                        }
                                        else
                                        {
                                            <img src="~/Resourses/Blog/blog-default.jpg" alt="">
                                        }
                                    </div>
                                    <div class="post-desc">
                                        <a asp-action="BlogDetails" asp-route-BlogCode="@item.BlogCode">@item.BlogTitle</a>
                                        <span class="date-post"> <i class="fi fi-rr-calendar"></i>@item.BlogDate</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->
