@using Westwind.Globalization;

@{
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}
<!DOCTYPE html>
<html lang="en" dir="@DbRes.T("layout", "Resources", lang)">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title> WATER - Engineering Consultation</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/fav.png">
    <!-- Bootstrap v4.4.1 css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <!-- Uicons Regular Rounded css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/uicons-regular-rounded.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/flaticon.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/off-canvas.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
    <!-- Main Menu css -->
    <link rel="stylesheet" href="~/assets/css/rsmenu-main.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/inc/custom-slider/css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="~/assets/inc/custom-slider/css/preview.css">
    <!-- spacing css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/rs-spacing.css">
    <!-- style css -->
    @*<link rel="stylesheet" type="text/css" href="~/assets/style.css">*@ <!-- This stylesheet dynamically changed from style.less -->
    @if (lang == "ar")
    {
        <link rel="stylesheet" type="text/css" href="~/assets/style1Arabic.css"> <!-- This stylesheet dynamically changed from style.less -->
    }
    @if (lang == "en")
    {
        <link rel="stylesheet" type="text/css" href="~/assets/style1.css"> <!-- This stylesheet dynamically changed from style.less -->
    }
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
</head>

<body class="defult-home">

    <div class="offwrap"></div>

    <!--Preloader start here-->
    <div id="pre-load">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="~/assets/images/fav.png" alt="WATER Logo"></div>
            </div>
        </div>
    </div>
    <!--Preloader area end here-->
    <!-- Main content Start -->
    <div class="main-content">

        <!--Full width header Start-->
        <div class="full-width-header">
            <!--Header Start-->
            <header id="rs-header" class="rs-header header-style3 header-transparent">
                <!-- Toolbar Area Start -->
                @RenderSection("Toolbar" , required:false);

                <!-- Toolbar Area End -->
                <!-- Menu Start -->
                <div class="menu-area menu-sticky">
                    <div class="container">
                        <div class="row-table">
                            <div class="col-cell header-logo">
                                <div class="logo-area">
                                    <a asp-action="Index" asp-controller="Home">
                                        <img class="sticky-logo" src="~/assets/water/logo-blue.png" alt="logo">
                                        <img class="normal-logo" src="~/assets/water/logoLight.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-cell">
                                <div class="rs-menu-area">
                                    <div class="main-menu">
                                        <nav class="rs-menu hidden-md">
                                            <ul class="nav-menu">
                                                <li id="home">
                                                    <a asp-action="Index" asp-controller="Home">@DbRes.T("Home", "Resources", lang)</a>
                                                </li>
                                                <li>
                                                    <a asp-action="index" asp-controller="AboutUs">@DbRes.T("AboutUS", "Resources", lang)</a>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a asp-action="index" asp-controller="Services">
                                                        @DbRes.T("Services", "Resources", lang)
                                                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item-has-children">
                                                            <a asp-route-DepartmentCode="3" asp-action="DepartmentDetail" asp-controller="Department">
                                                                @DbRes.T("WaterEngineering", "Resources", lang)
                                                            </a>
                                                            <ul class="sub-menu m-1">
                                                                <li>
                                                                    <a asp-route-ServiceCode="8" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("PotableWaterTreatment", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-route-ServiceCode="10" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("Desalination", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-route-ServiceCode="12" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("wastewatertreatment", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-route-ServiceCode="13" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("Stormwater Management", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item-has-children">
                                                            <a asp-route-DepartmentCode="4" asp-action="DepartmentDetail" asp-controller="Department">
                                                                @DbRes.T("CivilEngineering", "Resources", lang)
                                                            </a>
                                                            <ul class="sub-menu m-1">
                                                                <li>
                                                                    <a asp-route-ServiceCode="14" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("Site Planning and Design", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-route-ServiceCode="15" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("Road and Highway Design", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-route-ServiceCode="16" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("Land Development and Zoning Analysis", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-route-ServiceCode="17" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("Geotechnical Engineering and Soil Analysis", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-route-ServiceCode="18" asp-action="ServiceDetails" asp-controller="Services">
                                                                        @DbRes.T("Structural Design", "Resources", lang)
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <hr style="margin:auto;"/>
                                                        <li>
                                                            <a asp-action="index" asp-controller="Department">
                                                                @DbRes.T("View All Departments", "Resources", lang)
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a asp-action="index" asp-controller="Project">@DbRes.T("Projects", "Resources", lang)</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Blog">@DbRes.T("Blog", "Resources", lang)</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="ContactUs">@DbRes.T("ContactUs", "Resources", lang)</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#"
                                                       id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                                    </a>
                                                    <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li><a class="dropdown-item lang" href="/Home/SetLanguage?lang=ar" style="font-family:Droid Arabic Kufi;">العربية</a></li>
                                                        <li><a class="dropdown-item lang" href="/Home/SetLanguage?lang=en" style="font-family:Roboto;">English</a></li>
                                                    </ul>
                                                </li>

                                            </ul> <!-- //.nav-menu -->
                                        </nav>
                                    </div> <!-- //.main-menu -->
                                </div>
                            </div>
                            <div class="col-cell">
                                <div class="expand-btn-inner">
                                    <ul>
                                        <li class="humburger">
                                            <a id="nav-expander" class="nav-expander bar" href="#">
                                                <div class="bar">
                                                    <span class="dot1"></span>
                                                    <span class="dot2"></span>
                                                    <span class="dot3"></span>
                                                    <span class="dot4"></span>
                                                    <span class="dot5"></span>
                                                    <span class="dot6"></span>
                                                    <span class="dot7"></span>
                                                    <span class="dot8"></span>
                                                    <span class="dot9"></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Menu End -->
                <!-- Canvas Menu start -->
                <nav class="right_menu_togle menu-wrap-off  hidden-md">
                    <div class="close-btn">
                        <a id="nav-close" class="nav-close">
                            <div class="line">
                                <span class="line1"></span>
                                <span class="line2"></span>
                            </div>
                        </a>
                    </div>
                    <div class="rs-offcanvas-inner">
                        <div class="canvas-logo">
                            <a href="/"><img src="~/assets/water/logo-blue.png" alt="logo"></a>
                        </div>
                        <div class="offcanvas-text">
                            <p>
                                @DbRes.T("WATERBrief", "Resources", lang)
                            </p>
                        </div>
                        <div class="canvas-contact">
                            <div class="address-area">
                                <div class="address-list">
                                    <div class="info-icon">
                                        <i class="fi fi-rr-map-marker-home"></i>
                                    </div>
                                    <div class="info-content">
                                        <h4 class="title">
                                            @DbRes.T("ContactUs", "Resources", lang)

                                        </h4>
                                        <em>8 El Obour Buildings - Cairo, Egypt</em>
                                    </div>
                                </div>
                                <div class="address-list">
                                    <div class="info-icon">
                                        <i class="fi fi-rr-envelope-plus"></i>
                                    </div>
                                    <div class="info-content">
                                        <h4 class="title">
                                            @DbRes.T("EmailUs", "Resources", lang)
                                        </h4>
                                        <em><a href="mailto:info@water-consult.net">info@water-consult.net </a></em>
                                    </div>
                                </div>
                                <div class="address-list">
                                    <div class="info-icon">
                                        <i class="fi fi-rr-phone-call"></i>
                                    </div>
                                    <div class="info-content">
                                        <h4 class="title">
                                            @DbRes.T("CallUs", "Resources", lang)
                                        </h4>
                                        <em>01000327035</em>
                                        <em>01200797973</em>
                                    </div>
                                </div>
                            </div>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Canvas Menu end -->
                <!-- Canvas Mobile Menu start -->
                <nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
                    <div class="close-btn">
                        <a id="nav-close2" class="nav-close">
                            <div class="line">
                                <span class="line1"></span>
                                <span class="line2"></span>
                            </div>
                        </a>
                    </div>
                    <ul class="nav-menu">
                        <li id="home">
                            <a asp-action="Index" asp-controller="Home">@DbRes.T("Home", "Resources", lang)</a>
                        </li>
                        <li>
                            <a asp-action="index" asp-controller="AboutUs">@DbRes.T("AboutUS", "Resources", lang)</a>
                        </li>
                        <li>
                            <a asp-action="index" asp-controller="Services">@DbRes.T("Services", "Resources", lang)</a>
                        </li>
                        <li>
                            <a asp-action="index" asp-controller="Project">@DbRes.T("Projects", "Resources", lang)</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Home">@DbRes.T("Blog", "Resources", lang)</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="ContactUs">@DbRes.T("ContactUs", "Resources", lang)</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @DbRes.T("Language", "Resources", lang)
                            </a>
                            <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item lang" href="/Home/SetLanguage?lang=ar">العربية</a></li>
                                <li><a class="dropdown-item lang" href="/Home/SetLanguage?lang=en">English</a></li>
                            </ul>
                        </li>
                    </ul> <!-- //.nav-menu -->
                    <!-- //.nav-menu -->
                    <!-- //.nav-menu -->
                    <div class="canvas-contact">
                        <div class="address-area">
                            <div class="address-list">
                                <div class="info-icon">
                                    <i class="fi fi-rr-map-marker-home"></i>
                                </div>
                                <div class="info-content">
                                    <h4 class="title">
                                        @DbRes.T("ContactUs", "Resources", lang)
                                    </h4>
                                    <em>8 El Obour Buildings - Cairo, Egypt</em>
                                </div>
                            </div>
                            <div class="address-list">
                                <div class="info-icon">
                                    <i class="fi fi-rr-envelope-plus"></i>
                                </div>
                                <div class="info-content">
                                    <h4 class="title">
                                        @DbRes.T("EmailUs", "Resources", lang)
                                    </h4>
                                    <em><a href="mailto:info@water-consult.net">info@water-consult.net</a></em>
                                </div>
                            </div>
                            <div class="address-list">
                                <div class="info-icon">
                                    <i class="fi fi-rr-phone-call"></i>
                                </div>
                                <div class="info-content">
                                    <h4 class="title">
                                        @DbRes.T("CallUs", "Resources", lang)
                                    </h4>
                                    <em>01000327035</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- Canvas Menu end -->
            </header>
            <!--Header End-->
        </div>
        <!--Full width header End-->
        <!--renderbody-->
        @RenderBody()
        <!--renderbody end-->

    </div>
    <!-- Main content End -->
    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer footer-main-home">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 pr-20 md-pr-15 md-mb-20">
                        <div class="footer-logo mb-51 md-mb-30">
                            <a asp-action="Index" asp-controller="Home"><img src="~/assets/water/logo-white1.png" alt=""></a>
                        </div>
                        <div class="textwidget">
                            <p class="pb-20">
                                @DbRes.T("WATERBrief", "Resources", lang)
                            </p>
                            <p class="pb-25">
                                <strong>
                                    @DbRes.T("OpeningHours", "Resources", lang):
                                </strong>
                                <br />

                                @DbRes.T("Saturday", "Resources", lang) –  @DbRes.T("Thurs", "Resources", lang) : @DbRes.T("9am", "Resources", lang) - @DbRes.T("5pm", "Resources", lang)
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 md-mb-10">
                        <h3 class="footer-title">
                            @DbRes.T("ContactInfo", "Resources", lang)
                        </h3>
                        <ul class="address-widget">
                            <li>
                                <i class="fi fi-rr-map-marker-home"></i>
                                <div class="desc">
                                    8 El Obour Buildings - Salah Salem Cairo, <br>
                                    Cairo Governorate, Egypt
                                </div>
                            </li>
                            <li>
                                <i class="fi fi-rr-phone-call"></i>
                                <div class="desc">
                                    <a href="~/tel:01000327035">01000327035</a><br>
                                    <a href="~/tel:01200797973">01200797973</a>
                                </div>
                            </li>
                            <li>
                                <i class="fi fi-rr-envelope-plus"></i>
                                <div class="desc">
                                    <a href="~/mailto:info@water-consult.net ">info@water-consult.net</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 md-mb-10">
                        <h3 class="footer-title">
                            @DbRes.T("OurServices", "Resources", lang)

                        </h3>
                        <ul class="site-map">
                            <li>
                                <a>
                                    @DbRes.T("OurServices", "Resources", lang)
                                </a>
                            </li>
                            <li>
                                <a>
                                    @DbRes.T("OurServices", "Resources", lang)
                                </a>
                            </li>
                            <li>
                                <a>
                                    @DbRes.T("OurServices", "Resources", lang)
                                </a>
                            </li>
                            <li>
                                <a>
                                    @DbRes.T("OurServices", "Resources", lang)
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-title">
                            @DbRes.T("GetInTouch", "Resources", lang)
                        </h3>
                        <p class="widget-desc">
                            @DbRes.T("HaveAnyUpcomingProject", "Resources", lang)
                        </p>
                        <ul>
                            <li>
                                <div class="btn-part mb-30">
                                    <a class="readon more contact footer" href="/ContactUs">
                                        @DbRes.T("RequestServices", "Resources", lang)
                                    </a>
                                </div>
                            </li>
                            <li>

                                <div>
                                    <ul class="footer-social md-mb-30" dir="ltr">
                                        <li><a href="~/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="~/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="~/#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="~/#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container" style="max-width:1300px;">
                <div class="row y-middle">
                    <div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
                        <ul class="copy-right-menu" style="direction: initial;">
                            <li><a asp-action="Index" asp-controller="Home">@DbRes.T("Home", "Resources", lang)</a></li>
                            <li><a asp-action="Index" asp-controller="AboutUs">@DbRes.T("AboutUS", "Resources", lang)</a></li>
                            <li><a asp-action="Index" asp-controller="Services">@DbRes.T("Services", "Resources", lang)</a></li>
                            <li><a asp-action="Index" asp-controller="Project">@DbRes.T("Projects", "Resources", lang)</a></li>
                            <li><a asp-action="Index" asp-controller="Blog">@DbRes.T("Blog", "Resources", lang)</a></li>
                            <li><a asp-action="Index" asp-controller="ContactUs">@DbRes.T("ContactUs", "Resources", lang)</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="copyright text-lg-start text-center">
                            <p>© @DbRes.T("Rights", "Resources", lang)@*<a href="https://www.linkedin.com/in/loay-mustafa-22b4ab257/" target="blank">Loay Badwy</a>*@</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->
    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->
    <!-- modernizr js -->
    <script src="~/assets/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap v4.4.1 js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- op nav js -->
    <script src="~/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- isotope.pkgd.min js -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- wow js -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Skill bar js -->
    <script src="~/assets/js/skill.bars.jquery.js"></script>
    <!-- imagesloaded js -->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Slick js -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- waypoints.min js -->
    <script src="~/assets/js/waypoints.min.js"></script>
    <!-- magnific popup js -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- counterup.min js -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- Nivo slider js -->
    <script src="~/assets/inc/custom-slider/js/jquery.nivo.slider.js"></script>
    <!-- contact form js -->
    <script src="~/assets/js/contact.form.js"></script>
    <!-- main js -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script>
        $(function () {
            var current = location.pathname;
            if (current === "/") {
                current = "home";
                $("#home").addClass('current-menu-item');
            }
            $('.nav-menu li a').each(function () {
                var $this = $(this);
                // if the current path is like this link, make it active
                if ($this.attr('href').indexOf(current) !== -1) {
                    $this.addClass('current-menu-item');
                }
            })
        })

        $('.lang').on('click', function (e) {
            e.preventDefault()
            e.stopPropagation()
            let url = $(this).attr('href')
            console.log(url)
            $.ajax({
                type: "GET",
                url: url,
                success: function (res) {
                    debugger;
                    if (res.success) {
                        location.reload()
                    } else {
                        alert("Error")
                    }
                },
                error: function (err) {
                    console.log(err)
                    alert("Error")

                }
            })
        })
    </script>
</body>
</html>