@using Westwind.Globalization;

@{
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}
<style>
    .sub-scroll {
        overflow-y: auto;
        max-height: 400px;
    }
    
</style>
<div class="menu-area menu-sticky">
    <div class="container container-nav">
        <div class="row-table">
            <div class="col-cell header-logo">
                <div class="logo-area">
                    <a asp-action="Index" asp-controller="Home">
                        <img class="sticky-logo" src="~/assets/water/logo-blue.png" alt="logo">
                        <img class="normal-logo" src="~/assets/water/logoLight.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-cell">
                <div class="rs-menu-area">
                    <div class="main-menu">
                        <nav class="rs-menu hidden-md">
                            <ul class="nav-menu">
                                <li id="home">
                                    <a asp-action="Index" asp-controller="Home">@DbRes.T("Home", "Resources", lang)</a>
                                </li>
                                <li>
                                    <a asp-action="index" asp-controller="AboutUs">@DbRes.T("AboutUS", "Resources", lang)</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="AboutUs">
                                                @DbRes.T("AboutUS", "Resources", lang)
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Employee">
                                                @DbRes.T("Employee", "Resources", lang)
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="index" asp-controller="Services">
                                        @DbRes.T("Services", "Resources", lang)
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a asp-route-DepartmentCode="3" asp-action="DepartmentDetail" asp-controller="Department">
                                                @DbRes.T("WaterEngineering", "Resources", lang)
                                            </a>
                                            <ul class="sub-menu m-1 sub-scroll">
                                                <li>
                                                    <a asp-route-ServiceCode="8" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("PotableWaterTreatment", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="10" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Desalination", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="12" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("WastewaterTreatment", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        @DbRes.T("Stormwater Management", "Resources", lang)
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a asp-route-DepartmentCode="4" asp-action="DepartmentDetail" asp-controller="Department">
                                                @DbRes.T("CivilEngineering", "Resources", lang)
                                            </a>
                                            <ul class="sub-menu m-1 sub-scroll sub-scroll">
                                                <li>
                                                    <a asp-route-ServiceCode="14" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("SitePlanningandDesign", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="15" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Road and Highway Design", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        @DbRes.T("LandDevelopmentandZoningAnalysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="17" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("GeotechnicalEngineeringandSoilAnalysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="18" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("StructuralDesign", "Resources", lang)
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a asp-route-DepartmentCode="7" asp-action="DepartmentDetail" asp-controller="Department">
                                                @DbRes.T("ElectricalEngineering", "Resources", lang)
                                            </a>
                                            <ul class="sub-menu m-1 sub-scroll">
                                                <li>
                                                    <a asp-route-ServiceCode="24" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Electrical Design and Analysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="25" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Electrical Load Calculations", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="26" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Electrical System Assessments", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="27" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Electrical Equipment Selection and Specification", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="28" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Power Quality Analysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="29" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Electrical Safety Audits", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="30" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Renewable Energy Solutions", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="31" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Arc Flash Analysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="32" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Automation", "Resources", lang)
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a asp-route-DepartmentCode="5" asp-action="DepartmentDetail" asp-controller="Department">
                                                @DbRes.T("MechanicalEngineering", "Resources", lang)
                                            </a>
                                            <ul class="sub-menu m-1 sub-scroll">
                                                <li>
                                                    <a asp-route-ServiceCode="19" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("HVAC Design And Analysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="20" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Plumbing Design And Analysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="21" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Fire Protection Design And Analysis", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="22" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Energy And Sustainability Consulting", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="23" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Equipment Selection And Specification", "Resources", lang)
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a asp-route-DepartmentCode="8" asp-action="DepartmentDetail" asp-controller="Department">
                                                @DbRes.T("EnvironmentalEngineering", "Resources", lang)
                                            </a>
                                            <ul class="sub-menu m-1 sub-scroll">
                                                <li>
                                                    <a>
                                                        @DbRes.T("Environmental Site Assessments", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        @DbRes.T("Environmental Permitting and Compliance", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        @DbRes.T("Environmental Remediation", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        @DbRes.T("Air Quality Management", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        @DbRes.T("Water and Wastewater Management", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        @DbRes.T("Sustainable Development", "Resources", lang)
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a asp-route-DepartmentCode="6" asp-action="DepartmentDetail" asp-controller="Department">
                                                @DbRes.T("ArchitectureDesign", "Resources", lang)
                                            </a>
                                            <ul class="sub-menu m-1 sub-scroll">
                                                <li>
                                                    <a asp-route-ServiceCode="33" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Architecture", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="34" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Medical Planning", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="35" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Urbanism and Planning", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="36" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Interior Design", "Resources", lang)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-route-ServiceCode="37" asp-action="ServiceDetails" asp-controller="Services">
                                                        @DbRes.T("Landscape Architecture", "Resources", lang)
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <hr style="margin:auto;" />
                                        <li>
                                            <a asp-action="index" asp-controller="Department">
                                                @DbRes.T("ViewAllDepartments", "Resources", lang)
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="index" asp-controller="Project">@DbRes.T("Projects", "Resources", lang)</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Blog">@DbRes.T("Blog", "Resources", lang)</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="ContactUs">@DbRes.T("ContactUs", "Resources", lang)</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#"
                                       id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                    </a>
                                    <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item lang" href="/Home/SetLanguage?lang=ar" style="font-family:Droid Arabic Kufi;">العربية</a></li>
                                        <li><a class="dropdown-item lang" href="/Home/SetLanguage?lang=en" style="font-family:Roboto;">English</a></li>
                                    </ul>
                                </li>

                            </ul> <!-- //.nav-menu -->
                        </nav>
                    </div> <!-- //.main-menu -->
                </div>
            </div>
            <div class="col-cell">
                <div class="expand-btn-inner">
                    <ul>
                        <li class="humburger">
                            <a id="nav-expander" class="nav-expander bar" href="#">
                                <div class="bar">
                                    <span class="dot1"></span>
                                    <span class="dot2"></span>
                                    <span class="dot3"></span>
                                    <span class="dot4"></span>
                                    <span class="dot5"></span>
                                    <span class="dot6"></span>
                                    <span class="dot7"></span>
                                    <span class="dot8"></span>
                                    <span class="dot9"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

