@using Westwind.Globalization;

@model WATERWebsite.Core.ViewModels.DepartmentViewModels.DepartmentDetailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var ser = 0;
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img3">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @Model.DepartmentName
            </h1>
            <span class="sub-text">
            </span>
            <ul class="breadcrumbs-area">
                <li title="Home">
                    <a class="active" asp-action="Index">@DbRes.T("Services", "Resources", lang)</a>
                </li>
                <li>@Model.DepartmentName</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Services Single Start -->
<div class="rs-services-single pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 md-mb-50">
                <div class="services-img mb-35">
                    <img src="@Model.DepartmentPhotoPath" alt="">
                </div>
                <div class="services-title pb-24">
                </div>
                <p class="desc-part pb-24">
                    @Model.DepartmentBrief
                </p>
                <ul class="check-lists3">
                    @*@if (Model.SpecializedService != null)
                    {
                    @foreach (var ss in Model.SpecializedService)
                    {
                    <li>@ss.SpecializedServiceNameE</li>
                    }
                    }*@
                </ul>

                <p class="desc-part pb-10">
                    @Model.DepartmentOverview
                </p>
                <!-- Faq Section Start -->
                <div class="rs-faq faq-style1 faq-modify1 pt-100 pb-100 md-pt-80 md-pb-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 md-mb-50">
                                <div class="faq-content">
                                    <div id="accordion" class="accordion">
                                        @if (Model.ServicesList?.Count > 0)
                                        {
                                            @foreach (var service in Model.ServicesList)
                                            {
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a class="card-link collapsed" href="#" data-bs-toggle="collapse"
                                                   data-bs-target="#c_@service.ServiceCode" aria-expanded="false">@service.ServiceName</a>
                                                    </div>
                                                    <div id="c_@service.ServiceCode" class="collapse" data-bs-parent="#accordion" style="">
                                                        <div class="card-body">
                                                            <p>@service.ServiceBrief</p>
                                                            <br>
                                                            <h3> Service Overview</h3>
                                                            <p>@service.ServiceOverview</p>
                                                            <br>
                                                            MORE DETAILS
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Faq Section End -->
            </div>
            <div class="col-lg-4 pl-36 md-pl-15">
                <ul class="services-list mb-50">
                    @if (Model.ServicesList?.Count > 0)
                    {
                        @foreach (var service in Model.ServicesList)
                        {
                            <li><a asp-controller="Services" asp-action="ServiceDetails" asp-route-ServiceCode="@service.ServiceCode">@service.ServiceName</a></li>
                        }
                    }
                </ul>
                <div class="services-add mb-50">
                    <div class="services-overlay"></div>
                    <div class="address-wrap-item mb-20">
                        <div class="icon-part mb-37">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h2 class="title">@DbRes.T("HaveAnyUpcomingProject", "Resources", lang) @DbRes.T("CallUs", "Resources", lang) <span>@DbRes.T("Today", "Resources", lang)!</span></h2>
                        <div class="divider">
                            <span class="divider-separator"></span>
                        </div>
                        <div class="contact">
                            <a href="tel:01000327035">01000327035</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Single End -->
