@using Westwind.Globalization;

@model IEnumerable<WATERWebsite.Core.ViewModels.DepartmentViewModels.DeprtmentIndexViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ser = 0;
    var lang = "en";
    if (Context.Session.GetString("lang") != null)
    {
        lang = Context.Session.GetString("lang");
    }
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                @DbRes.T("Services", "Resources", lang)
            </h1>
            <span class="sub-text">
                @DbRes.T("ServicesHeader", "Resources", lang)
            </span>
            <ul class="breadcrumbs-area">
                <li title="Home">
                    <a class="active" href="/">@DbRes.T("Home", "Resources", lang)</a>
                </li>
                <li>@DbRes.T("Services", "Resources", lang)</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Services Start -->
<div class="rs-services services-style13 gray-bg6 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                ser++;
                <div class="col-xl-4 col-md-6 mb-20">
                    <div class="services-item">
                        <div class="serial-number">	@ser</div>
                        <div class="services-icon">
                            <img src="@item.DepartmentLogoPath" alt="Images">
                        </div>
                        <div class="services-text">
                            <h4 class="title"><a asp-action="DepartmentDetail" asp-route-DepartmentCode="@item.DepartmentCode">@item.DepartmentName</a></h4>
                            <p class="services-txt">
                                @item.DepartmentBrief
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Services End -->
